* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

form *,
a {
    outline: none;
    -webkit-appearance: none;
}

@font-face {
    font-family: "OpenSans";
    src: url(/fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url(/fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url(/fonts/OpenSans-SemiBold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "OpenSans";
    src: url(/fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "OpenSans";
    src: url(/fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

body {
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
}

:root {
    /* colors */
    --black-color: #000;
    --white-color: #fff;
    --lightskyblue-color: #89d2fc;
    --darkslategray-color: #262626;
    --dimgray-color: #686868;
    --lightgray-color: #d7d6d6;
    --bg-wrapper-color : #f6f7f7;
    --gray: #888788;
}

/* components */
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.wrapper__p40 {
    max-width: 1250px;
}

.wrapper__w100 {
    width: 100%;
}

header.mainpage {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

/* header */
header {
    padding-top: 70px;
}

.logo {
    z-index: 2;
}

/* .logo img {
    width: 217px;
} */

header .wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.img__lazy {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}

.img__lazy_loaded {
    opacity: 1;
}

.animation {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: .3;
}

.animate {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

/* header menu */
.menu {
    z-index: 2;
}

.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.menu ul li:not(:last-child) {
    margin-right: 50px;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    color: var(--dimgray-color);
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    font-size: 16px;
    letter-spacing: .8px;
    font-family: "OpenSans-Bold";
}

.menu ul li.active a {
    color: var(--white-color);
}

.menu ul li:hover a {
    color: var(--white-color);
}

.menu ul li.active a::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: var(--lightskyblue-color);
    top: -14px;
    left: 0;
}

.blue {
    color: var(--darkslategray-color);
    background-color: var(--lightskyblue-color);
    padding: 22px 27px;
    font-size: 16px;
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: .4px;
    border: none;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blue:hover {
    background-color: #fff;
}

.white {
    color: var(--darkslategray-color);
    background-color: var(--white-color);
    padding: 18px 27px;
    font-size: 14px;
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: .4px;
    border: 1px solid var(--darkslategray-color);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    border: 1px solid #000;
}

.white:hover {
    background-color: var(--lightskyblue-color);
    border-color: var(--lightskyblue-color);
}
.white--border{
    color: var(--white-color);
    padding: 18px 27px;
    font-size: 14px;
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: .4px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    border: 1px solid var(--white-color);
}
.white--border:hover{
    border-color: var(--lightskyblue-color);
}
/* main */

/* mainpage top */

.mainpage__top {
    position: relative;
    min-height: 700px;
    height: 100vh;
    width: 100%;
    background-image: url(/img/product_default.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.mainpage__top_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 780px;
    padding: 0 20px;
}

.mainpage__top_content p {
    line-height: 65px;
    font-size: 52px;
    font-family: "OpenSans-SemiBold", sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: var(--white-color);
    margin-bottom: 40px;
}

.mainpage__top_content span{
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: var(--white-color);
    margin-bottom: 40px;
}

.mainpage__top_scroll {
    height: 50px;
    width: 25px;
    border-radius: 12.5px;
    border: 1px solid var(--white-color);
    position: absolute;
    bottom: 40px;
}

.mainpage__top_element {
    width: 1px;
    height: 10px;
    border: 1px solid var(--white-color);
    top: 5px;
    left: 10px;
    position: absolute;

    -webkit-animation-name: scrollAnimation;

            animation-name: scrollAnimation;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes scrollAnimation {
    0% {
        top: 5px;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 30px;
        opacity: 0;
    }
}

@keyframes scrollAnimation {
    0% {
        top: 5px;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 30px;
        opacity: 0;
    }
}

.mainpage__top_content a {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;

    -webkit-animation-name: topLink;

            animation-name: topLink;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes topLink{
    0% {
        -webkit-transform: translateY(40%);
                transform: translateY(40%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes topLink{
    0% {
        -webkit-transform: translateY(40%);
                transform: translateY(40%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

/* mainpage__about */

.about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin: 0 auto;
    padding-top: 125px;
}

.about__text_title {
    text-align: center;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 36px;
    line-height: 55px;
    color: var(--darkslategray-color);
    letter-spacing: 1.44px;
    padding-bottom: 30px;
}

.about__text_desc {
    max-width: 970px;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    color: var(--darkslategray-color);
    letter-spacing: .4px;
}

.about__text_link {
    position: relative;
    padding-top: 25px;

    font-family: "OpenSans-Bold", sans-serif;
    text-align: center;
    line-height: 46px;
    text-transform: uppercase;
    color: var(--darkslategray-color);
    letter-spacing: .35px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.about__text_link::after {
    content: "\e803";
    font-family: icons;
    position: absolute;
    left: calc(100% + 10px);
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    color: var(--darkslategray-color);
}

.about__text_link:hover {
    color: var(--lightskyblue-color);
}

.about__text_link:hover::after {
    color: var(--lightskyblue-color);
}

.about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    padding-top: 90px;
}

.about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24%;
}

.about__item_img {
    width: 117px;
    height: 117px;
    border-radius: 50%;
    border: 1px solid var(--lightskyblue-color);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    margin-bottom: 10px;
}

.about__item_title {
    text-align: center;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 18px;
    line-height: 55px;
    letter-spacing: .45px;
    color: var(--darkslategray-color);
    padding-bottom: 10px;
}

.about__item_desc {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: .4px;
    color: var(--darkslategray-color);
}

/* mainpage__services */

.mainpage__services,
.mainpage__service,
.mainpage__products {
    padding-top: 140px;
}

.services__title,
.service__title,
.products__title,
.faq__title {
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
    color: var(--darkslategray-color);
    letter-spacing: 1.44px;
    font-family: "OpenSans-Bold", sans-serif;
    padding-bottom: 50px;
}

.services__slider {
    width: 100%;
    padding: 0 40px 50px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.services__slider_wrapper {
    position: relative;
    overflow: hidden;
}

.services__slide_img {
    overflow: hidden;
    width: 100%;
    display: flex;
    height: 200px;
    justify-content: center;
}

.services__slide_img img {
    -o-object-fit: cover;
       object-fit: cover;
    /* width: 100%; */
}

.services__slide_wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.services__slide_title {
    padding-top: 40px;
    text-align: center;
    font-size: 16px;
    letter-spacing: .4px;
    color: var(--darkslategray-color);
    padding-bottom: 20px;
}

.services__slider_left {
    position: absolute;
    left: -10px;
    top: 30%;
    font-size: 28px;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

.services__slider_right {
    position: absolute;
    right: -10px;
    top: 30%;
    font-size: 28px;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

.services__slider_left.swiper-button-disabled,
.services__slider_right.swiper-button-disabled {
    color: var(--lightgray-color);
    cursor: unset;
}

/* mainpage__service */

.service__wrapper {
    width: 100%;
    /* background-image: url(/img/services-bg.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.service__images {
    position: absolute;
    width: 100%;
    height: 100%;
}

.service__img {
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.service__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.service__img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.service__img_active {
    opacity: 1;
}

.service__content {
    background-color: rgba(17,18,27, .8);
    margin-top: 240px;
    padding: 80px 100px;
    max-width: 670px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1;
}

.service__content_item:not(:last-child) {
    margin-bottom: 40px;
}

.service__content_title {
    color: var(--dimgray-color);
    font-family: "OpenSans-Bold";
    letter-spacing: .45px;
    font-size: 18px;
    position: relative;
    display: inline-block;
}

.service__content_desc {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .4px;
    color: var(--white-color);
}

.service__content_item .service__content_desc {
    display: none;
}

.service__content_item.active .service__content_desc {
    display: block;
}

.service__content_item.active .service__content_title {
    color: var(--white-color);
    padding-bottom: 16px;
}

.service__content_item.active .service__content_title::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: var(--lightskyblue-color);
    top: -14px;
    left: 0;
}

/* mainpage products */
.products__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.products__list {
    list-style-image: url(/img/list-style-image.png);
    margin-left: 20px;
    position: relative;
}

.products__list::before {
    content: '';
    position: absolute;
    width: 170px;
    border-bottom: 1px solid #030303;
    opacity: .2;
    left: -20px;
    top: -40px;
}

.products__item {
    font-size: 16px;
    line-height: 36px;
    letter-spacing: .4px;
    color: var(--darkslategray-color);
    padding-left: 20px;
}

.products__images {
    max-width: 670px;
    margin-left: auto;
}

.mainpage__products .white {
    margin-left: 40px;
    margin-bottom: 80px;
}

.products__images img {
    transition: filter .3s ease;
    filter: brightness(.7);
}

.products__images img:hover {
    filter: brightness(1);
}

/* mainpage form */
.wrapper__w100 {
    background-color: var(--bg-wrapper-color);
}

.faq__title {
    padding-bottom: 20px;
    padding-top: 95px;
}

.faq__title_sub {
    width: 100%;
    text-align: center;
    font-size: 29px;
    letter-spacing: .75px;
    color: var(--darkslategray-color);
    line-height: 24px;
}

.faq__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1075px;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
}

.faq__form button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 230px;
}

.faq__form_input {
    max-width: 310px;
    width: 100%;
    position: relative;
}

.faq__form_input span,
.faq__form_message span {
    position: absolute;
    bottom: 18px;
    left: 0;
    text-transform: uppercase;
    opacity: .6;
    letter-spacing: .35px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    outline: none;
}

.faq__form_message {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
}

.faq__form_input input,
.faq__form_message input {
    width: 100%;
    border: 1px solid transparent;
    padding: 18px 0;
    background-color: transparent;
    border-bottom: 1px solid var(--darkslategray-color);
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

.faq__form_input input:focus,
.faq__form_message input:focus {
    border-bottom-color: var(--lightskyblue-color);
}

.faq__form_input__focused span {
    font-size: 12px;
    bottom: 36px;
}

/* mainpage map */
.map__wrapper {
    width: 100%;
    min-height: 500px;
    margin-top: -100px;
}

/* footer */

footer {
    z-index: 2;
}

footer .wrapper__w100 {
    background-color: var(--darkslategray-color);
}

.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 80px 0;
    width: 100%;
}

.footer__social_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__social_item a {
    color: var(--lightskyblue-color);
    border: 1px solid transparent;
    font-size: 32px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60px;
    height: 60px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.footer__social_item .icon-facebook {
    margin-bottom: 2px;
}

.footer__social_item .icon-google {
    margin-bottom: 3px;
}

.footer__social_item .icon-linkedin {
    margin-bottom: 5px;
}

.footer__social_item a:hover {
    border: 1px solid var(--lightskyblue-color);
}

.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__title {
    color: var(--gray);
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
}

.footer__phone,
.footer__email{
    margin-bottom: 30px;
}

.footer__phone,
.footer__address,
.footer__email{
    color: #fff;
    letter-spacing: .4px;
    font-size: 16px;
    position: relative;
    padding-left: 20px;
    line-height: 25.28px;
}

.footer__phone::before {
    content: '\e805';
    font-family: icons;
    margin-right: 5px;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--lightskyblue-color);
}

.footer__email::before {
    content: '\f1fa';
    font-family: FontAwesome;
    margin-right: 5px;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--lightskyblue-color);
}

.footer__address::before {
    content: '\e806';
    font-family: icons;
    margin-right: 5px;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--lightskyblue-color);
}

/* mobile version */

.menu__mobile {
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 20px;

    background-color: var(--darkslategray-color);

    -webkit-transform: translateX(100%) translateY(-100%);

            transform: translateX(100%) translateY(-100%);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;

    z-index: 2;
}

.menu__mobile.active {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
}

.menu__mobile_close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--lightskyblue-color);
    font-size: 32px;
}

.menu__mobile li:not(:last-child) {
    margin-bottom: 20px;
}

.menu__mobile li a {
    color: var(--white-color);
    font-size: 30px;
}

@media screen and (max-width: 1280px) {
    header .wrapper {
        padding: 0 20px;
    }

    .about__list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about__item {
        width: 30%;
    }

    .products__list {
        width: calc(100% - 690px);
        padding-left: 20px;
    }

    .mainpage__products .white {
        margin-top: 20px;
        margin-left: 60px;
    }

    .faq__form {
        padding-left: 20px;
        padding-right: 20px;

    }
}

@media screen and (min-width: 1024px) {
    .menu__mobile,
    .menu__mobile_link {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden
    }

    header .wrapper {
        padding: 0 20px;
    }

    .mainpage__top {
        min-height: 100vh;
        height: unset;
    }

    .products__list {
        padding-left: 0;
    }

    .menu__mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu {
        display: none;
    }

    .menu__mobile_link {
        display: block;
        color: var(--white-color);
        font-size: 32px;
        z-index: 2;
    }

    header.mainpage {
        background-color: var(--darkslategray-color);
        padding-top: 0;
        padding: 30px 0;
        z-index: 2;
    }

    .mainpage__top_content p {
        font-size: 24px;
        letter-spacing: .3px;
        line-height: 40px;
    }

    /* about */
    .about__text_title {
        font-size: 30px;
        letter-spacing: 0.4px;
    }

    .about__text {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 80px;
    }

    .about__list {
        padding-top: 50px;
    }

    .about__item_img {
        margin-bottom: 0;
    }
    .about__item_title {
        padding-bottom: 0;
    }

    .about__list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .about__item {
        width: 100%;
    }

    .about__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .about__item_desc {
        max-width: 300px;
    }

    /* services */
    .mainpage__services,
    .mainpage__service,
    .mainpage__products {
        padding-top: 80px;
    }

    /* slider */
    .services__slider_left {
        left: -5px;
    }

    .services__slider_right {
        right: -5px;
    }

    /* products */
    .products__list {
        margin-left: 40px;
        margin-top: 30px;
        width: 100%;
    }

    .products__images {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 20px;
    }

    .products__images img:first-child {
        width: 100%;
    }

    .products__images img:not(:first-child) {
        width: 50%;
    }

    .mainpage__products .white {
        margin: 20px auto;
    }

    .mainpage__map {
        overflow: hidden;
    }

    .map__wrapper {
        min-height: 250px;
        margin-top: 0;
    }

    /* service */
    .service__content {
        padding: 40px 20px;
    }

    /* faq form */
    .faq__form {
        padding: 0 20px;
    }

    .faq__form button {
        margin-bottom: 40px;
    }

    .faq__form_input {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .faq__title {
        font-size: 30px;
        letter-spacing: 0.44px;
    }

    .faq__title_sub {
        line-height: 30px;
    }

    .products__wrapper,
    .footer__wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    /* footer  */
    .footer__wrapper {
        padding: 0;
        margin: 40px 20px;
    }
}

.faq__form_message.image{
      margin-top: 10px;
}
.alert-success{
    margin: 0 auto;
    margin-top: 3em;
    font-size: 18px;
    background-color: #d3ffd4;
    width: 80%;
    text-align: center;
    padding: 1em;
}
.alert-error{
    background-color: #d3ffd4;
}
